/* body{
    background-color: black;
    
}


.header{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;

    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 20px;
}
.containerCards{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border: none;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 20px;
}

.cards {
    color: #fff;
    width: 220px;
    min-height: 350px;
    background: hsla(0,0%,100%,.15);
    box-shadow: 27px 18px 21px 0 rgb(22 1 22 / 82%);
    border-radius: 30px;
    letter-spacing: 4px;
    display: grid;
    border: 1px solid #fff;
    align-items: center;

}
.sort{
    background-color: #bbc;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    padding: 3.5px;
} */
body{
    background-image: url(https://img.freepik.com/vector-gratis/conjunto-varios-elementos-planos-hud-moderno_74855-7920.jpg?w=900&t=st=1663097759~exp=1663098359~hmac=1052580ea63d921878d21ac7c72a603c9a3a5d6c5a22c5f19744dd47beb55b76);
    justify-items: stretch;
    color: #ffff;
    background-size: contain;
    object-fit: cover;
}
.header {
    background-image: url(https://img.freepik.com/vector-gratis/conjunto-varios-elementos-planos-hud-moderno_74855-7920.jpg?w=900&t=st=1663097759~exp=1663098359~hmac=1052580ea63d921878d21ac7c72a603c9a3a5d6c5a22c5f19744dd47beb55b76);
    justify-items: stretch;
    color: #ffff;
    background-size: contain;
    object-fit: cover;
}
a{
    color: black;
}
a:visited{
    text-decoration: none;
}
.sort{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 92%;;
    padding: 2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    width: 900px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    
}
/* .sort select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    max-width: 250px;
	position: relative;
    
} */

.sort .rating {
    display: flex;
    background-color: #000;
    opacity: 93%;
    flex-direction: column;
    border-radius: 20%;
}
.sort .origin {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20%;
}
.sort .container-options {
    display: flex;
    background-color: black;
    opacity: 93%;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    padding: 10px;
}
.containerCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2%;
    margin: 2%
}

.containerCards div:hover {
    border: none;
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .btnCreate{
    width: 150px;
    padding: 10px;
    background-color: #776cf0;
    border-radius: 20px;
    font-weight: bold;
}
.btnCreate:hover{
    background-color: black;
    color: #fff;
}
.btnReset{
    width: 150px;
    padding: 10px;
    background-color: #776cf0;
    border-radius: 20px;
    font-weight: bold;
}
.btnReset:hover{
    background-color: black;
    color: #fff;
} */

.filter{
    background-color: black;
    opacity: 93%;
    border-radius: 30px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    
}


/* .btnCreate:hover{
    background: #B1E8CD;
    cursor: pointer;
    color: #fff;
}
.btnReset{
    width: 150px;
    padding: 10px;
    background-color: #776cf0;
    border-radius: 20px;
    font-weight: bold;
}
.btnReset:hover{
    background: #B1E8CD;
    color: #fff;
    cursor: pointer;
} */

.origin select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.origin select::-ms-expand{
    display: none;
}
.origin select{
    display: inline-block;
	width: 120px;
	cursor: pointer;
  	padding: 7px 10px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background-color: rgba(240, 224, 0, 0.993);
	color: #7b7b7b;
	font-size: 25px;
	color: #fff;
	font-family: 
	'Quicksand', sans-serif;
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
.origin select:hover{
    background: #000;
}
.rating select{
    display: inline-block;
	width: 120px;
	cursor: pointer;
  	padding: 7px 10px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background-color: rgba(240, 224, 0, 0.993);
	color: #7b7b7b;
	font-size: 25px;
	color: #fff;
	font-family: 
	'Quicksand', sans-serif;
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
.rating select:hover{
    background: #000;
}
.rating select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.rating select::-ms-expand{
    display: none;
}

.container-options button{
    display: inline-block;
	width: 230px;
	cursor: pointer;
  	padding: 7px 10px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background-color: rgba(240, 224, 0, 0.993);
	color: #7b7b7b;
	font-size: 25px;
	color: #fff;
	font-family: 
	'Quicksand', sans-serif;
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
.container-options button:hover{
    background: #000;
}
.container-options button{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.container-options button::-ms-expand{
    display: none;
}