.container-searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    justify-content: center;
}
.input-search{
    align-items: center;
    width: 155px;
    height: 40px;
    position: relative;
    justify-content: center;
    opacity: 92%;
    background-color: #fff;
}
.button-search{
    border-radius: 120px;
    height: 46px;
    padding: 15px;
}
.button-search:hover{
    cursor: pointer;
    border-radius: 120px;
}
.img-search{
    height: 100px;
    padding: 5px;
    
}